<%= form_for rental do |f| %>
  <p>
    <%= f.label :start_date, 'Ãnicio' %>
    <%= f.date_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date, 'Final' %>
    <%= f.date_select :end_date %>
  </p>
  <p>
    <%= f.label :client_id, 'Cliente' %>
    <%= f.collection_select :client_id, @clients, :id, :name %>
  </p>
  <p>
    <%= f.label :car_category_id, 'Categoria' %>
    <%= f.collection_select :car_category_id, @car_categories, :id, :name %>
  </p>
<% end %>


