<h3><%= @car.car_model.name %> cadastrado </h3>
<dl>
  <dt>Placa:</dt>
  <dd><%= @car.license_plate %></dd>
  <dt>Cor:</dt>
  <dd><%= @car.color %></dd>
  <dt>Modelo:</dt>
  <dd><%= @car.car_model.name %></dd>
  <dt>Quilometragem:</dt>
  <dd><%= @car.mileage %></dd>
  <dt>Filial:</dt>
  <dd><%= @car.subsidiary.name %></dd>
</dl>